<div class="container mt-4">
  <div class="row justify-content-center align-items-center flex-column flex-lg-row">
    <!-- Botón Izquierda (siempre a la izquierda) -->
    <div class="col-12 col-lg-auto text-center mb-3 mb-lg-0">
      <a type="button" class="btn btn-lg btn-danger" (click)="navigateToPlayer()"><i class="fa-solid fa-user fa-2xl" style="color: #ffffff;"></i></a>
    </div>

    <!-- Centro: Imagen (siempre en el centro) -->
    <div class="col-12 col-lg-auto mb-3 mb-lg-0 text-center">
      <img src="../assets/img/100 Abarcas - Logo.png" class="rounded-circle img-fluid" alt="100 Abarcas Dijeron" style="max-width: 90%; border: 8px solid white;">
    </div>

    <!-- Botón Derecha (siempre a la derecha) -->
    <div class="col-12 col-lg-auto text-center mb-3 mb-lg-0">
      <button type="button" class="btn btn-lg btn-primary" (click)="navigateToBoard()"><i class="fa-solid fa-chalkboard-user fa-2xl" style="color: #ffffff;"></i></button>
    </div>
  </div>
</div>
